<div class="row">
  <div class="large-12 columns">
    <div class="snippet-header">Snippets</div>
      <% @snippets.each do |snippet| %>
          <% if snippet.content %>
            <div class="snippet">
              <div class="snippet-content">
                <%= strip_tags(snippet.content) %>
               <p> Submitted on <%= snippet.created_at.to_date %></p>
              </div>
              <div class="snippet-link">
                <%= link_to "(link)", snippet_path(snippet) %>
              </div>
            </div>
          <% end %>
      <% end %>
  </div>
</div>
