<%= form_for(@snippet) do |f| %>
   <%= f.text_area :content, placeholder: "Content goes here...", :class => "redactor"%>
   <%= f.submit 'Submit', :class => 'submit_new_content'%>
 <% end %>

<div class="autosave">

</div>
