<%= @snippet.content.html_safe %>
<%= @snippet.user.username if @snippet.user %>
<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, "/" %></li>
    <!-- Must change url to story path once story path is complete -->
  <% end %>
</ul>
