<div id="search-results">
  <h1> Content Containing "<%= params[:search] %>" </h1>

  <% @searched_stories.each do |story| %>
    <% display_string = story.title %>
    <% x = params[:search].upcase %>

     <% if display_string.include?(params[:search]) %>
      <p> <% display_string.sub!(params[:search], x ) %></p>
      <%= link_to display_string, story_path(story) %>
    <% end %>
  <% end %>
</div>



