#upvote {
  width: 25px;
  height: 25px;

}

 .LV_validation_message.LV_invalid {

  color: red;
}


.LV_validation_message.LV_valid {
  color: green;
}


/* EDIT STORY PAGE */


#publish-warning {
  display: none;
}

#search-results {
 /* display: none;*/
}


/* INDEX */

#infoMenu {
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  top: 0;
  width: 100%;
  text-align: right;
  font-size: 0.9em;
  padding: 8px 15px 30px 0;
  width: 10%;
  right: 0;

}

.logofont {
    font-family: 'Bitter', serif;
  font-size: 1.4em;
}

.logoNavBar {
  font-family: 'Bitter', serif;
  font-size: 2em;
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  top: 0;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  padding: 8px 15px 30px 0;
  width: 10%;
  left: 0;

}
.menu li {
  display: inline;
  list-style: none;
}


body {
  background-color: #65b6b0;
  overflow:scroll;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter', serif;
  color: #372e27;
}

.headerlogo {
  font-family: 'Bree Serif', serif;
  font-size: 6em;
  margin-bottom: 20px;
  margin-left: -5%;
  padding-left: 5%;
}

.top-logo-name a{
 font-family: 'Bitter', serif;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
  font-size: 1.5em;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right: solid 1px #b6dddb;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.fi-magnifying-glass {
  margin-top: 5px;
  font-size: 2em;
  height: 100%;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: 'Bitter', serif;
  background-color: #97cfcc;
  font-size: 1.25em;
}

.top-bar-section ul li {
  background-color: #97cfcc;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
   background-color: #97cfcc;
}

.sticky {
  background-color: #97cfcc;
 /* For IE8 and earlier */
}

.top-bar {
  background-color: #97cfcc;
 /* For IE8 and earlier */
}


.full-screen {
  height: 100%; /* makes panels the entire window height */
}


.first-screen {
  background-color: #65b6b0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section0 {
   background-color: #97cfcc;
  color: #FFFFFF;
}

#section1 {
   background-color: #E7E1D4;
  color: #372e27;
}

#section2 {
  background-color: #949599;
  color: #f0efed;
}
#section3 {
  background-color: #65b6b0;
  color: #f0efed;
}

#section4 {
  background-color: #372e27;
  color: #E7E1D4;
}

.index-list {
  font-size: 1.2em;
  text-align: left;
  list-style: none;
  padding-left: 8%;
  width: 110%;
}

#search {
  border-radius: 10px;
}


/* TYPED.JS CSS */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


#index-typed {
  font-family: 'Bitter', serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  width: 100%;
}


.search-bar {
  display: block;
}


/* SNIPPET INDEX */

.snippet-header {
  margin-top: 20px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 4em;
  color: #FFFFFF;
}

.snippet {
  font-family: 'Bitter', serif;
  padding: 30px 0px 30px 0px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
}

.snippet-content {
  color: #372e27;
  font-size: 1.4em;
}

.snippet-link {
  margin-top: 10px;
  width: 80%;
  text-align: right;
  font-size: 0.78em;
}

/* SNIPPET SHOW */

.snippet-author {
  margin-top: 10px;
  width: 80%;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

.submit-story {
  text-align: center;
}

.submit-story ul {
  list-style: none;
}

.snippet-button {
  background-color: #372e27;
  color: #f0efed;
}

.snippet-button:hover {
  background-color: #97cfcc;
}

.snippet-stories-header {
  font-family: 'Bitter', serif;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
}

.snippet-stories {
  width: 90%;
  margin: 0 auto;
}

.snippet-story {
  clear: both;
  font-family: 'Bitter', serif;
  padding: 20px 0px 20px 0px;
  margin: 20px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
}

/* SNIPPET NEW */

.autosave {
  text-align: right;
}

.new-snippet {
  margin-top: 10px;
  font-family: 'Bitter', serif;
  font-size: 3em;
  color: #FFFFFF;
}

/* STORY SHOW */

.story-show {
  font-family: 'Bitter', serif;
  padding: 30px 0px 30px 0px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
  color: #372e27;
}

.votes {
  font-family: 'Bitter', serif;
  padding: 30px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
  color: #372e27;
}

.vote-count {
  float: left;
}

.vote-button {
  float: right;
}

#vote-up-button {
  padding: 5;
  margin: 0;
}

li {
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
}

p {
  font-family: 'Bree Serif', serif;
}

.popular-stuff {
  margin-bottom: 8px;
}


