#embedded-video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}

/*pearl's css */

.accordion-navigation {
  width: 80%;
  /*height: 20px;*/
  margin: 0 auto;

}

#panel1a {
  display: none;
  background: none;
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: #f0efed;
  font-family: 'Bree Serif', serif;
  border-radius: 10px;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  border-radius: 10px;
}

.parent-accordion-bar {
  text-align: center;
}

.side-nav-1 {
  margin: 0 auto;
  text-align: center;
}

.vine-icon {
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 3%;
}

.story-snippet-show {
  display:none;
}

.parent-story {
  display:none;
}

.story-children {
  display:none;
}

.add-tag-dropdown {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}


.arrow-down {
  text-align: center;
}

div#container.new-story-page {
  background: #f0efed;
}

.f-dropdown li a {
  font-size:20px;
  padding: 0.5rem;
  text-align: center;
}


.tagged-stories {
  /*text-align: center;*/
  /*clear: both;*/
  /*font-family: 'Bitter', serif;*/
  padding: 20px 0px 20px 0px;
  margin: 20px;
  /*background-color: #97cfcc;*/
  border-radius: 10px;
  text-align: center;
  width: ;

}


/*end */




#container {
  height: 100%;
}

#upvote {
  width: 25px;
  height: 25px;

}

 .LV_validation_message.LV_invalid {

  color: red;
}


.LV_validation_message.LV_valid {
  color: green;
}


/* EDIT STORY PAGE */


#publish-warning {
  display: none;
}

#search-results {
 /* display: none;*/
}


/* INDEX */

#section0 {
  /* background-color: #97cfcc;*/
  background-color: none;
  color: #FFFFFF;
}

#section1 {
   background-color: #E7E1D4;
  color: #372e27;
}

#section2 {
  background-color: #949599;
  color: #f0efed;
}

#section3 {
  background-color: #65b6b0;
  color: #f0efed;
}

#section4 {
  background-color: #372e27;
  color: #E7E1D4;
}


#infoMenu {
  font-family: 'Bitter', serif;
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  top: 0;
  width: 100%;
  text-align: left;
  font-size: 1.5em;
  padding: 8px 15px 30px 0;
  width: 10%;
  right: 0%;
}

.logofont {
  font-family: 'Bitter', serif;
  font-size: 1.4em;
}

.f-dropdown {
  width: 85%;
}

.logoNavBar {
  font-family: 'Bitter', serif;
  font-size: 2em;
  height: 20px;
  color: #f2f2f2;
  position: fixed;
  z-index: 70;
  top: 0;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  padding: 8px 15px 30px 0;
  width: 10%;
  left: 0;

}
.menu li {
  display: inline;
  list-style: none;
}


body {
  background-color: #65b6b0;
  overflow: scroll;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter', serif;
  color: #372e27;
}

.headerlogo {
  font-family: 'Bree Serif', serif;
  font-size: 6em;
  margin-bottom: 20px;
}

.top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span, .top-bar .name a {
  font-family: 'Bree Serif', serif;
  padding: 10px;
  color: #FFFFFF;
  font-size: 1.5em;
}

.top-logo-name a {
  padding: 5px 10px 5px 10px;
  color: #FFFFFF;
  font-size: 1.6em;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.fi-magnifying-glass {
  margin-top: 5px;
  font-size: 2em;
  height: 100%;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  border-right: 1px solid #69908e;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: 'Bree Serif', serif;
  background-color: #97cfcc;
  font-size: 1em;
}

.top-bar-section ul li {
  background-color: #97cfcc;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
   background-color: #97cfcc;
}

.sticky {
  background-color: #97cfcc;
}

.top-bar {
  background-color: #97cfcc;
}


.full-screen {
  height: 100%; /* makes panels the entire window height */
}



.index-list {
  text-align: left;
  list-style: none;
  padding-left: 5%;
}


/* TYPED.JS CSS */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


#index-typed {
  font-family: 'Bitter', serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  width: 100%;
}


.search-bar {
  display: block;
}


/* SNIPPET INDEX */

.snippet-header {
  margin-top: 20px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 4em;
  color: #FFFFFF;
}

.snippet {
  font-family: 'Bitter', serif;
  padding: 30px 0px 30px 0px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
}

.snippet-content {
  color: #372e27;
  font-size: 1.4em;
}

.snippet-link {
  margin-top: 10px;
  width: 80%;
  text-align: right;
  font-size: 0.78em;
}

/* SNIPPET SHOW */

.snippet-author {
  margin-top: 10px;
  width: 80%;
  text-align: right;
  font-size: 0.9em;
  font-style: italic;
}

.submit-story {
  text-align: center;
}

.submit-story ul {
  list-style: none;
}

.snippet-button {
  background-color: #372e27;
  color: #f0efed;
}

.snippet-button:hover {
  background-color: #97cfcc;
}

.snippet-stories-header {
  font-family: 'Bitter', serif;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
}

.snippet-stories {
  width: 90%;
  margin: 0 auto;
}

.snippet-story {
  clear: both;
  font-family: 'Bitter', serif;
  padding: 20px 0px 20px 0px;
  margin: 20px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
}

/* SNIPPET NEW */

.autosave {
  text-align: right;
}

.new-snippet {
  margin-top: 10px;
  font-family: 'Bitter', serif;
  font-size: 3em;
  color: #FFFFFF;
}

/* STORY SHOW */

.story-show {
  font-family: 'Bitter', serif;
  padding: 30px 0px 30px 0px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
  color: #372e27;
  /*pearl added:*/
  word-wrap: break-word;
  padding: 20px;

}

.votes {
  font-family: 'Bitter', serif;
  padding: 30px;
  margin: 50px;
  background-color: #97cfcc;
  border-radius: 10px;
  text-align: center;
  color: #372e27;
  font-size: 10px;
}

.vote-count {
  /*float: left;*/
  text-align: center;
}

.vote-button {
  /*float: right;*/
  /*text-align: center;*/
}

/*from developer's tool*/

button.round, .button.round {
/*  margin-left: auto;
  margin-right: auto;*/
/*  position: relative;
  margin: 0 auto;
  text-align: center;*/

}

div#vote-center-button {
  padding-top: 5%;
  padding-bottom: 5%;
}

input#voterguy {
/*  margin-right: 0 auto;
  margin-left: 0 auto;
  position: relative;*/
}

#vote-up-button {
  padding: 5;
  margin-right: 0 auto;
  margin-left: 0 auto;
  position: relative;
}

#upvote {
  width: 100%;
}


li {
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
}

p {
  font-family: 'Bree Serif', serif;
}

.popular-stuff {
  margin-bottom: 8px;
}

/* Profile page */

#profile-page {
  padding-left: 5%;

}

.user-info {
  background-color: #cbe7e5;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
}

/* SEARCH BAR */

#search {
  border-radius: 5px;
}

.search-button {

}

.button {
  background-color: #f0efed;
  color: #372e27;
  margin-right: 5px;
}

.button :hover {
  background-color: #949599;
  color: #372e27;
}

.button-expand {
  margin-left: 2%;
  border-radius: 5px;
}

li.has-form {
  background: none!important;
}

input.button.radius {
padding-top: 5px;
bottom: auto;
font-size: 13px;
vertical-align: bottom;
font-family: 'Bree Serif', 'serif';
}

/*NAV BAR*/

ul.title-area {
font-family: 'Bitter', serif;
font-size: 1em;
}

ul.right {
font-family: 'Bitter', serif;
font-size: 1em;
}

.center-text {
  text-align: center;
  padding-top: 2%;
}


/* DASHBOARD */

.user-dashboard {
  background-color: #cbe7e5;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.redactor_box {
  min-height: 400px;
}

