<footer class="row fullWidth">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Story Vine</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">

      <li class="divider"></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
