User side bar
 hello, <div class="logged-in-user"><%= current_user.first_name %></div>

 hello, <%= current_user.first_name %>


 <h5>Here are your unpublished posts:</h5>
   <% current_user.all_unpublished.each do |story| %>
      <p><%=link_to story.title, story_path(story) %></p>
    <% end %>

 <h5>Some of your published work:</h5>
   <% current_user.all_published.each do |story| %>
      <p><%= link_to story.title, story_path(story) %></p>
    <% end %>


